$def with ()

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - App con Firebase</title>
</head>
<body>
    <!-- Contenido principal -->
    <div>
        <h1 class="text-center mb-4"><img src="https://www.gstatic.com/devrel-devsite/prod/v6bfb74446ce17cd0d3af9b93bf26e056161cb79c5a6475bd6a9c25286fcb7861/firebase/images/touchicon-180.png" alt="Firebase logo." style="width: 100px;">
            Bienvenido a la App "Gestor de Personas" con Firebase</h1>
        <hr>
        <h3>¿Qué hace esta app?</h3>
        <p>
            Esta aplicación permite gestionar una lista de personas, donde puedes:
        </p>
        <ul>
            <li><strong>Ver</strong> la lista de personas registradas.</li>
            <li><strong>Insertar</strong> nuevas personas con su nombre y teléfono.</li>
            <li><strong>Editar</strong> la información de una persona existente.</li>
            <li><strong>Eliminar</strong> personas de la lista.</li>
        </ul>
        <h3>¿Cómo funciona Firebase?</h3>
        <p>
            Firebase es una plataforma de desarrollo de aplicaciones que proporciona una base de datos en tiempo real. En esta app, Firebase se utiliza para:
        </p>
        <ul>
            <li>Almacenar y recuperar datos de personas.</li>
            <li>Sincronizar datos en tiempo real entre la aplicación y la base de datos.</li>
            <li>Manejar operaciones CRUD (Crear, Leer, Actualizar, Eliminar) de manera eficiente.</li>
        </ul>            
    </div>
</body>
</html>