$def with (personas, q, page, total_pages)

<h3>Buscar Persona</h3>
<hr>
<body>
    <div class="lista-personas">
        <!-- Campo de búsqueda -->
        <form method="GET" action="" class="buscador">
            <input type="text" name="q" placeholder="Buscar por ID, nombre o teléfono" value="$q" class="buscar">
            <button type="submit" class="enviar">Buscar</button>
        </form>

        <div class="contenedor-tarjetas">
            $if personas:
                $for id_persona, persona in personas.items():
                    <div class="tarjeta-persona">
                        <div class="info-persona">
                            <p><strong>ID:</strong> ${id_persona}</p>
                            <p><strong>Nombre:</strong> ${persona.get('name', 'Sin nombre')}</p>
                            <p><strong>Teléfono:</strong> ${persona.get('phone', 'Sin teléfono')}</p>
                        </div>
                        <!-- Columna de acciones -->
                        <div style="flex: 1; display: flex; justify-content: space-between;">
                            <a class="ver-btn" href="/persona/${id_persona}"  style="text-decoration: none;">Ver</a>
                            <a class="editar-btn" href="/editar_persona/${id_persona}"  style="text-decoration: none;">Editar</a>
                            <a class="eliminar-btn" href="/eliminar_persona/${id_persona}" style="text-decoration: none;">Eliminar</a>
                        </div>
                    </div>
            $else:
                <div class="sin-personas">
                    <p>¡Oh oh! No encontramos algo parecido</p>
                </div>
        </div>

        <!-- Paginación -->
        <div class="paginacion">
            $if total_pages > 1:
                <nav>
                    $if page > 1:
                        <a href="?page=${page-1}" class="pagina-anterior">← Anterior</a>
                    $for p in range(1, total_pages+1):
                        <a href="?page=${p}" class="pagina-numero ${'pagina-actual' if p == page else ''}">${p}</a>
                    $if page < total_pages:
                        <a href="?page=${page+1}" class="pagina-siguiente">Siguiente →</a>
                </nav>
        </div>
    </div>
</body>
