$def with (content)
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Ejemplo con Firebase</title>
    <style>
        nav {
            background-color: rgb(39, 95, 76);
            border-radius: 15px;
            padding: 0.1px;
        }
        body {
            font-family: sans-serif;
        }
        a {
            color: white;
            text-decoration: none;
        }
        .contenido { padding: 20px; }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/lista_personas">Lista de Personas</a></li>
            <li><a href="/insertar_persona">Insertar Personas</a></li>
        </ul>
    </nav>
    <div class="contenido">
        $:content
    </div>
</body>
</html>
